@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$transition-time: 2s;
$color1: #bfbfbf;
$color2: #d9d9d9;
$color3: #1a605c;

body {
  font-family: "Almendra", sans-serif;
  background-color: $color1;
 

  .App {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
  
    .row {
      align-items: center;
      height: 100vh;
    }
    nav {
      font-size: 4rem;
      a.navbar-brand {
        font-size: 2rem;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .card {
    position: relative;
    height: 400px;
    width: 100%;
    margin: 10px 0;
    transition: ease all $transition-time;
    perspective: 1200px;
    &:hover {
      transform: scale(1.2);
      z-index: 5;
      .cover {
        transform: rotateX(0deg) rotateY(-180deg);
        &:before {
          transform: translateZ(30px);
        }

        h1 {
          transform: translateZ(100px);
        }
        h3 {
          transform: translateZ(50px);
        }
        p {
          transform: translateZ(-60px) rotatey(-180deg);
        }
      }
    }

    .cover {
      position: absolute;
      height: 100%;
      width: 100%;
      transform-style: preserve-3d;
      transition: ease all $transition-time;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      &:before {
        content: "";
        position: absolute;
        border: 5px solid rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 12px rgba(15, 5, 5, 0.3);
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        z-index: 2;
        transition: ease all $transition-time;
        transform-style: preserve-3d;
        transform: translateZ(0px);
      }

      h1 {
        font-weight: 600;
        position: absolute;
        bottom: 55px;
        left: 50px;
        color: $color2;
        transform-style: preserve-3d;
        transition: ease all $transition-time;
        z-index: 3;
        font-size: 3em;
        transform: translateZ(0px);
      }
      h3 {
        font-weight: 600;
        position: absolute;
        bottom: 280px;
        padding-right: 2rem;
        left: 50px;
        color: $color2;
        transform-style: preserve-3d;
        transition: ease all $transition-time;
        z-index: 3;
        font-size: 2em;
        transform: translateZ(0px);
      }
    }
    .card-back {
      position: absolute;

      top: 0;
      height: 100%;
      width: 100%;

      transform-style: preserve-3d;
      transition: ease all $transition-time;
      transform: translateZ(-1px) scale(0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        padding: 1rem;
        transform-style: preserve-3d;
        transition: ease transform $transition-time, ease background 0.5s;
        transform: translateZ(-1px) rotatey(-180deg);
        color: transparent;
        background-color: transparent;
        font-weight: 200;
        font-size: 1.3em;
        padding: 14px 32px;
        outline: none;
        text-decoration: none;
        &:hover {
          font-size: 1.5rem;
          background-color: $color3;
          color: $color2;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .card {
    margin-top: 2rem;
    padding: 1rem;
    .card-back {
      p {
        font-size: 1.5rem;
      }
    }
  }
}
